@import url('https://fonts.googleapis.com/css?family=Anton');

// Colors
$background: #fffef0;
$text: #232323;
$accent: #ed1e27;

// Fonts
$sansSerif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$impact: "Anton", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
